/* FONTS */
@font-face {
  font-family: "Ubuntu Light";
  src: url("../fonts/ubuntu-light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("../fonts/ubuntu-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("../fonts/ubuntu-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("../fonts/ubuntu-bold.ttf") format("truetype");
}
